body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
img.Text-Objects-Styles_2-Column-Text-Frame {
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Half-US-Letter_BODY-TEXT_Body-Text---Justified--Indent {
	color:#000000;
	font-family:"Source Sans Pro", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:14px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:14px;
	text-transform:none;
	widows:2;
}
p.Half-US-Letter_FRONT-MATTER_Author-s-Name---Drop-Cap {
	color:#000000;
	font-family:"Source Sans Pro", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.Half-US-Letter_FRONT-MATTER_Book-Title---36pt {
	color:#000000;
	font-family:"Source Sans Pro", sans-serif;
	font-size:36px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Half-US-Letter_TITLES_Headings_Chapter-Number {
	color:#000000;
	font-family:"Source Sans Pro", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.Half-US-Letter_TITLES_Headings_Chapter-Title {
	color:#000000;
	font-family:"Source Sans Pro", sans-serif;
	font-size:26px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.077;
	margin-bottom:72px;
	margin-left:0;
	margin-right:0;
	margin-top:7px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ParaOverride-1 {
	margin-bottom:13px;
}
p.ParaOverride-2 {
	margin-bottom:0px;
	margin-top:0px;
	text-indent:14px;
}
p.ParaOverride-3 {
	margin-bottom:67px;
	text-indent:14px;
}
span.CharOverride-1 {
	font-family:Gabriola, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#000000;
	font-size:10px;
}
#_idContainer002 {
	display:inline-block;
	height:168px;
	width:270px;
}
#_idContainer004 {
	display:inline-block;
	height:491px;
	width:270px;
}
img._idGenObjectAttribute-1 {
	height:1px;
	width:46px;
}
img._idGenObjectAttribute-2 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
